<a href="https://colab.research.google.com/github/mikestahelena/python-snippets/blob/main/builtin_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python standard library**
https://docs.python.org/3/library/index.html

Built-in types: https://docs.python.org/3/library/stdtypes.html
*   list, tuple, set, dict

Built-in functions: https://docs.python.org/3/library/functions.html
*   print(), len(), range(), round(), enumerate(), map(), zip(), etc

Built-in modules: 
*   os, sys, itertools, collections, math, functools, random, etc

# range

In [24]:
# range(stop) - create a object range of numbers
nums = range(11) # stop parameter is exclusive, not including 11
print(type(nums))

<class 'range'>

In [25]:
# range object can be converted into a list of numbers
nums_list = list(nums)
print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
# range(start, stop) - create a range between 
nums = range(5, 11) # start value is inclusive and stop parameter is exclusive, not including 11
nums_list = list(nums)
print(nums_list)

[5, 6, 7, 8, 9, 10]

In [27]:
# range(start, stop, step) - create a range between increasing 
nums = range(0, 11, 2) # start value is inclusive, stop parameter is exclusive and step is increment value
nums_list = list(nums)
print(nums_list)

[0, 2, 4, 6, 8, 10]

In [28]:
# example

number_of_iterations = 10

for i in range(number_of_iterations):
  print(f'iteration: {i}')

iteration: 0
iteration: 1
iteration: 2
iteration: 3
iteration: 4
iteration: 5
iteration: 6
iteration: 7
iteration: 8
iteration: 9

In [29]:
# Create a range object that goes from 0 to 5
nums = range(0, 6)
print(type(nums))

# Convert nums to a list
nums_list = list(nums)
print(nums_list)

# Create a new list of odd numbers from 1 to 11 by unpacking a range object
nums_list2 = [*range(1,12,2)]
print(nums_list2)

<class 'range'>
[0, 1, 2, 3, 4, 5]
[1, 3, 5, 7, 9, 11]

# enumerate

In [30]:
# enumerate() create a enumerate object
letters = ['a', 'b', 'c', 'd', 'e']

indexed_letters = enumerate(letters) 
print(type(indexed_letters))

<class 'enumerate'>

In [31]:
indexed_letters_list = list(indexed_letters)
print(indexed_letters_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [32]:
# enumerate(list, start) start with value
indexed_letters = enumerate(letters, start=5) #start is the initial value of index

indexed_letters_list = list(indexed_letters)
print(indexed_letters_list)

[(5, 'a'), (6, 'b'), (7, 'c'), (8, 'd'), (9, 'e')]

In [33]:
# example
some_list = ['Alice', 'Bob', 'Eve', 'Mallory', 'Trent']

for i, name in enumerate(some_list):
  print(f'{i} - {name}')

0 - Alice
1 - Bob
2 - Eve
3 - Mallory
4 - Trent

In [34]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# for loop using enumerate
indexed_names = []
for i, name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i, name) for i,name in enumerate(names)]
print(indexed_names_comp)

# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, start=1)]
print(indexed_names_unpack)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(1, 'Jerry'), (2, 'Kramer'), (3, 'Elaine'), (4, 'George'), (5, 'Newman')]

# map

In [35]:
# map(function, object) - apply a function to each element in a object

some_nums = [1.5, 2.3, 3.4, 4.6, 5.0]

round_nums = map(round, some_nums) # round is the function applied over some_nums
print(type(round_nums))

print(list(round_nums))

<class 'map'>
[2, 2, 3, 5, 5]

In [36]:
nums = [1, 2, 3, 4, 5, 6]

squared_nums = map(lambda n: n ** 2, nums) # lambda n: n ** 2 is the function applied over nums

print(list(squared_nums))

[1, 4, 9, 16, 25, 36]

In [37]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# Use map to apply str.upper to each element in names
names_map  = map(str.upper, names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase = [*names_map]

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'ELAINE', 'GEORGE', 'NEWMAN']