<a href="https://colab.research.google.com/github/mikestahelena/python-snippets/blob/main/builtin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python standard library**
https://docs.python.org/3/library/index.html

Built-in types: https://docs.python.org/3/library/stdtypes.html
*   list, tuple, set, dict

Built-in functions: https://docs.python.org/3/library/functions.html
*   print(), len(), range(), round(), enumerate(), map(), zip(), etc

Built-in modules: 
*   os, sys, itertools, collections, math, functools, random, etc

# range

In [2]:
# range(stop) - create a object range of numbers
nums = range(11) # stop parameter is exclusive, not including 11
print(nums)

range(0, 11)

In [3]:
# range object can be converted into a list of numbers
nums_list = list(nums)
print(nums_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# range(start, stop) - create a range between 
nums = range(5, 11) # start value is inclusive and stop parameter is exclusive, not including 11
nums_list = list(nums)
print(nums_list)

[5, 6, 7, 8, 9, 10]

In [5]:
# range(start, stop, step) - create a range between increasing 
nums = range(0, 11, 2) # start value is inclusive, stop parameter is exclusive and step is increment value
nums_list = list(nums)
print(nums_list)

[0, 2, 4, 6, 8, 10]

# enumerate

In [9]:
# enumerate() create a enumerate object
letters = ['a', 'b', 'c', 'd', 'e']

indexed_letters = enumerate(letters) 
print(indexed_letters)

<enumerate object at 0x7f7d1cb3db40>

In [10]:
indexed_letters_list = list(indexed_letters)
print(indexed_letters_list)

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]